@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
}

.form {
    background-image: url(assets/img/gallery/snowy-mountains-reflect-in-water-at-sunrise.jpg);
    background-size: cover;
    background-position: 50% 50%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.form__main {
    position: relative;
    width: 450px;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.85);
    margin:  0 auto;
}

.form__main-title {
    padding: 72px 0 25px 0;
}

.form__main-title h1 {
    text-align: center;
    font-size: 3rem;
    color: orangered;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form__main-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__main-btn input {
    width: 80%;
    border: none;
    outline: none;
    height: 42px;
    margin: 12px 0;
    font-size: 1.55rem;
    text-indent: 15px;
    background-color: transparent;
    color: white;
    box-shadow: 0 0 1px rgb(61, 61, 61);
    transition: all .3s ease-in-out;
}

.form__main-btn input:focus {
    box-shadow: 0 0 1px rgb(201, 201, 201);
    letter-spacing: 1px;
}

.form__main-btn button {
    width: 80%;
    height: 45px;
    border: none;
    margin-top: 28px;
    font-size: 1.62rem;
    background-color: rgb(221, 27, 27);
    color: white;
    font-family: sans-serif;
    letter-spacing: 2.5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.form__main-btn button:hover {
    letter-spacing: 3px;
}

.chinhsach {
    margin-top: 8px;
}

.chinhsach span input {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.chinhsach span {
    color: rgb(218, 218, 218);
    font-size: 1.45rem;
}

.chinhsach span a {
    color: palegreen;
}

.banquyen p {
    color: rgb(175, 175, 175);
    font-size: 1.38rem;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 525px) {

    .container {
        padding: 0;
    }

    .form__main {
        width: 100%;
        height: 680px;
    }
}

@media (max-width: 430px) {
    .chinhsach {
        text-align: center;
        padding: 0 30px;
    }

    .banquyen p {
        font-size: 1.2rem;
    }
}